
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto&display=swap');
/* NAVBAR */
.container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    background: linear-gradient(to right , rgb(30, 28, 28) , rgb(103, 101, 101));
}

.left-cont{
    display: flex;
    align-items: center;
}

.logo{
    height: 60px;
    width: 130px;
    margin: 10px;
}

.main-nav{
    display: flex;
}

.nav-item{
    list-style: none;
    margin: 10px;
    font-size: large;
}

.nav-item a{
    text-decoration: none;
    color: rgb(255, 253, 253);
}

.nav-item a:hover{
    color: rgb(255, 66, 66);
}
.right-cont{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.right-cont i {
    height: 30px;
    width: 30px;
    color: black;
}

#user{
    height: 35px;
    width: 35px;
    margin: 10px;
}

.icon{
    height: 20px;
    width: 23px;
    margin: 13px;
}